#page-content {
  margin-top: 50px;
}

.list-group-item:hover {
  background-color: #E0F0FF;
  cursor: pointer;
}

.page-header {
  color: white;
}

.support-chat {
 background-color: #f5f6f7;

}

.move-right{
  text-align: right;
}

.move-left{
  text-align: left;
}
